.input-number {
    max-width: 80px;
    border-radius: 10px;
}

.input-borded {
    border: 1px solid !important;
}

.label-number{
    font-size: 1.5rem;
    color: black;
}

.container {
    margin-top: 30px;
}

.error-text {
    font-size: medium;
    width: 480px;
    color: black !important;
    text-align: center;
    margin-left: -5px;
}

.panel-body--overrite {
    min-width: 500px;
}

.confirm-button {
    width: 30% !important;
    margin-left: 150px;
}

.sort-again-button {
    width: 15%;
}

.back-button {
    width: 15%;
    margin-left: 5px;
}